button {
    background-color: #4594d1;
    color: white;
    border-radius: 3px;
    display: block;
    transition: background-color 0.5s;
    font-size: 16px;
    outline: none;
    border: none;
    margin: auto;
}
    
button:hover {
    background-color: #2a5a80;
}

hr {
    margin: 50px 0;
}

.img {
height: auto;
width: auto;
max-width: 400px;
max-height: 400px;
margin: 0 auto;
display: block;
/* position: relative; */
border-radius: 5px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.info {
    text-align: start;
    text-indent: 2em;
    max-width: 300px;
    display: block;
    margin: 0 auto;

}

div.ducks {
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(201, 201, 201);
    width: 300px;
}
 hr.ducks {
    margin: 20px;
 }